[Unit]
Description=libvirt legacy monolithic daemon
Documentation=man:libvirtd(8)
Documentation=https://libvirt.org/
Wants=libvirtd.socket
Wants=libvirtd-ro.socket
Wants=libvirtd-admin.socket
After=libvirtd.socket
After=libvirtd-ro.socket
After=libvirtd-admin.socket
Requires=virtlogd.socket
Wants=virtlockd.socket
After=virtlogd.socket
After=virtlockd.socket
After=virtlogd.service
After=virtlock.service
Wants=systemd-machined.service
After=dbus.service
After=iscsid.service
After=apparmor.service
After=systemd-machined.service
After=xencommons.service
After=virt-secret-init-encryption.service
Conflicts=xendomains.service

[Service]
Type=notify-reload
Environment=LIBVIRTD_ARGS="--timeout 120"
EnvironmentFile=-/etc/conf.d/libvirtd
ExecStart=/usr/bin/libvirtd $LIBVIRTD_ARGS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=1024:524288
TasksMax=32768
LimitMEMLOCK=64M

[Install]
Also=virtlockd.socket
Also=virtlogd.socket
Also=libvirtd.socket
Also=libvirtd-ro.socket
Also=libvirtd-admin.socket
