[Unit]
Description=Delay nmb.service + smb.service until after boot

[Timer]
Unit=nmb.service
OnBootSec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
