[Unit]
Description=Start non-essential services after graphical target
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start NetworkManager.service bluetooth.service avahi-daemon.service upower.service auto-cpufreq.service vnstat.service sshd.service nmb.service smb.service waydroid-container.service cups.socket libvirtd.socket
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
