[Unit]
Description=Stop libvirtd before shutdown/reboot
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStart=-/usr/bin/systemctl stop libvirtd.service

[Install]
WantedBy=shutdown.target
