# SPDX-License-Identifier: LGPL-2.1-or-later
[Unit]
Description=Load/Save Screen Backlight Brightness of %i
Documentation=man:systemd-backlight@.service(8)
ConditionPathExists=!/etc/initrd-release
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
After=sysinit.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/lib/systemd/systemd-backlight load %i
ExecStop=/usr/lib/systemd/systemd-backlight save %i
TimeoutSec=90s
StateDirectory=systemd/backlight
